.header {
}

.nav {
  border: 1px solid #000;
  position: relative;
  height: 112px;
  width: 100%;
}

.header-list {
  padding: 0 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 21.6px;
  color: #222;
}

.header-item:first-child,
.header-item:last-child {
  color: #fff;
  background: var(--tomato);
}

.header-item:hover {
  transition: 0.3s;
  color: #fff;
  background: var(--tomato);
}

.header-link {
  padding: 15px 50px;
}

.header-logo {
  display: none;
}

.header-btn {
  display: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  div {
    position: relative;
    top: 0;
    margin-bottom: 12px;
    height: 8px;
    background-color: #000;
    transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
      0.3s ease right;
    border-radius: 2px;
  }
  div:first-child {
    transform-origin: 0;
  }
  div:last-child {
    margin-bottom: 0;
    transform-origin: 52px;
  }
}

.header-btn-active {
  div:first-child {
    top: -6px;
    transform: rotateZ(45deg);
  }
  div:last-child {
    top: 6px;
    transform: rotateZ(45deg);
  }
  div:nth-child(2) {
    width: 75px;
    top: 0;
    right: 13px;
    transform: rotateZ(-45deg);
  }
}

@media (max-width: 1310px) {
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-btn{
    display: block;
  }
  .header-logo {
    display: block;
  }
  .header-item:first-child,
  .header-item:last-child {
    color: #fff;
    background: transparent;
    &:hover {
      color: #fff;
      background: var(--tomato);
    }
  }
  .header-item-logo {
    display: none;
  }
  .header-list {
    padding: 0;
    display: block;
    position: absolute;
    right: -1px;
    top: 110px;
    background: #000;
    color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    z-index: 111;
  }
  .header-item {
    padding: 8px 32px;
  }
  .nav {
    padding: 0 20px;
  }
  .header-list-active {
    max-height: 500px;
  }
}

@media (max-width: 400px) {
  .header-logo img {
    height: 50px;
  }
}
