.image-block {
}

.image-block-wrapper {
  padding: 20px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
}
.image-block-image {
  min-height: 682px;
  width: 100%;
}
