.image-block {
}

.image-block-image {
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  padding: 20px;
  min-height: 682px;
  width: 100%;
  object-fit: cover;
}


@media (max-width: 990px) {
  .image-block-image {
    padding: 8px;
    min-height: 400px;
  }
}
