.main {
}

.main-marquee {
  width: 100%;
  font-size: 24px;
  height: 78px;
  overflow: hidden;
}

.main-marquee-content {
  display: flex;
  gap: 0 28px;
  width: fit-content;
  animation: marquee 3s linear infinite;
}

.main-marquee-item {
  display: flex;
  align-items: center;
  font-size: 17px;
  flex-shrink: 0;
  img {
    margin-right: 29px;
  }
  p {
    white-space: nowrap;
  }
}

.main-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-left {
  width: 50%;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
}

.main-box {
  padding: 20px;
  height: 100%;
  width: 100%;
}

.main-marquee {
  border-bottom: 1px solid;
  border-top: 1px solid;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.main-right {
  width: 50%;
  border-right: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: column;
}

.main-title-box {
  padding: 18px 80px;
  border-bottom: 1px solid;
}

.main-title {
  text-align: center;
  font-size: 58px;
  line-height: 1.13;
  font-weight: 400;
  max-width: 536px;
}

@media (max-width: 1150px) {
  .main-title {
    font-size: 42px;
  }
}

@media (max-width: 940px) {
  .main-title {
    font-size: 32px;
  }
  .main-marquee {
    height: 50px;
  }
  .main-marquee-item {
    font-size: 14px;
    img {
      width: 50px;
    }
  }
  .main-box {
    padding: 10px;
  }
}

@media (max-width: 790px) {
  .main-wrapper {
    flex-direction: column;
  }
  .main-left,
  .main-right {
    width: 100%;
  }
  .nav{
    padding: 0 8px;
  }
}

@media (max-width: 450px) {
  .main-title-box{
    padding: 8px;
  }
  .main-title {
    font-size: 24px;
  }
}
